# Jellyfin
JF_CACHE= # Donde van a estar archivos de cache
JF_CONFIG= # Donde van a estar los archivos de configuración

# flexget
FG_PASS= # contraseña para el web-server "NO VOLVERE A DEJAR LA CONTRASEÑA EN DURO -.-"

# Media Storage y torrents
MEDIA_STORAGE= # Donde van estar los archivos multi-media
TORRENT_STORAGE= # Donde se van a descargar los archivos
